$primary-color: #3e88fe;
$primary-color-hover: #225fc1;
$card-backgorund-color: #b4caee;
$secondary-color: #ea1193;
//  spacing
$spacing-tiny: 8px;
$spacing-small: 16px;
$spacing-medium: 32px;
$spacing-large: 64px;
$spacing-x-large: 128px;
// rounded
$rounded-tiny: 4px;
$rounded-small: 8px;
$rounded-medium: 16px;
// box shadow
$shadow: 0px 0px 10px 1px rgba(0,0,0,0.18);